<div class="converter">
  <div class="converter-form">
    <div class="converter-block">
      <label for="input"> {{ "value" | translate }} 1</label>
      <input
        class="amountTo"
        [(ngModel)]="amountFrom"
        (ngModelChange)="convertCurrency()"
        type="number"
        step="0.01"
        placeholder="Amount"
        (focus)="onInputFocus($event)" />

      <select
        [(ngModel)]="selectedCurrencyFrom"
        (ngModelChange)="convertCurrency()">
        <option selected value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option
          *ngFor="let currency of currencies | keyvalue"
          [value]="currency.key">
          {{ currency.value }} ({{ currency.key }})
        </option>
      </select>
    </div>
    <div class="converter-block">
      <label for="input"> {{ "value" | translate }} 2</label>

      <input
        class="amountTo"
        [(ngModel)]="amountTo"
        (ngModelChange)="convertCurrency(true)"
        type="number"
        step="0.01"
        placeholder="Amount"
        (focus)="onInputFocus($event)" />

      <select
        [(ngModel)]="selectedCurrencyTo"
        (ngModelChange)="convertCurrency(true)">
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option
          *ngFor="let currency of currencies | keyvalue"
          [value]="currency.key">
          {{ currency.value }} ({{ currency.key }})
        </option>
      </select>
    </div>
  </div>
</div>
